html {
  min-width: 100%;
  overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    min-width: 100%;
    overflow-x: hidden;
  }
  
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #c5c4c4;
}

::-webkit-scrollbar-thumb {
  background: #d10024;
  border-radius: 1px;
  transition: all 0.3s;
}

/* __________ HEADER __________ */

#top-header {
  background-color: #1e1f29;
  display: flex;
  justify-content: space-between;
}

#top-header ul {
  margin: 6px auto;
  padding: 0;
}

ul.header-links1 {
  cursor: default;
}

ul.header-links {
  max-width: 70%;
}

.header-links li {
  display: inline-block;
  margin-right: 15px;
  font-size: 13px;
}

.header-links li.acc {
  margin: auto;
  margin-left: 20px;
}

.header-links li a {
  color: #fff;
  text-decoration: none;
}

.header-links li a:hover {
  color: #d10024;
  transition: color .40s ease;
}

.icons-top-header {
  width: 10px;
}

li a .mail-icon {
  width: 12px;
}

li a .location-icon {
  width: 8px;
}

#header {
  background-color: #15161D;
  padding: 13px 0 10px 9%;
  border-bottom: solid 3px #d10024;
  display: flex;
  justify-content: space-between;
}

#header img {
  min-width: 100%;
  width: 100%;
}

#header span.burger-icon {
  display: none;
  width: 30%;
  height: auto;
  align-items: center;
  justify-content: center;
}

#header span.burger-icon svg {
  transition: .3s;
}

#header span.burger-icon svg:hover {
  fill: #d10024;
  border-bottom: #d10024 solid 1px;
  cursor: pointer;
}

#header a.logo {
  width: fit-content;
  max-width: 120px;
  min-width: 60px;
  margin-right: 7%;
  margin: auto 0;
}

#header nav {
  display: flex;
  justify-content: space-between;
  width: fit-content;
}

#header nav > ul li {
  display: inline-block;
  width: fit-content;
  font-size: 15px;
  font-weight: normal;
  padding-top: 10px;
  position: relative;
}

#header nav ul {
  list-style-type: none;
  margin-right: 50px;
}

nav a.active {
  color: #d10024;
}

nav a {
  text-decoration: none;
  color: #fff;
  width: fit-content;
  margin-right: 2.5rem;
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
  position: relative;
  transition: color 0.2s ease;
}

nav > ul li:last-child {
  margin-right: .5rem;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 100%;
  width: 0;
  height: 1px;
  background-color: #d10024;
  transition: all 0.4s ease, right 0.3s ease;
}

nav a:hover {
  color: #d10024;
}

nav a:hover::after {
  color: #d10024;
  width: 100%; 
  right: 0; 
}

#header nav ul li ul {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #15161D;
  display: none;
  list-style: none;
  z-index: 1;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  margin-top: 1px;
  width: 110px;
  border-bottom: #d10024 solid 2px;
  border-top: #d10024 solid 1px;
}

#header nav ul li:hover ul {
  display: block;
}

.a-categories {
  margin-left: 12px;
  border: none;
}

#header nav ul li:hover .a-categories {
  color: #d10024;
  border: none;
  transition: color .50s ease-out;
}

#header nav ul li ul li {
  display: block;
  width: 100%;
  padding: 2px 2px 0 2px;
  margin: 0;
  text-align: center;
}

#header nav ul li ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  margin: 0;
  width: 78%;
  display: block;
  text-align: center;
  font-size: 15px;
}

#header nav ul li ul li a:hover {
  background-color: #555;
}

li.cart-li {
  padding: 0;
  margin: 0;
  padding-top: 25px;
  margin-left: 40px;
}

.cart-a {
  height: 20px;
  padding: 0;
  margin: 0;
}

.cart-icon {
  width: auto;
  height: 20px;
}

.cart-a:hover .cart-icon {
  content: url("../icons/cart2.svg");
  cursor: pointer;
}

.user-icon {
  width: 12px;
  height: 15px;
  margin-bottom: 2px;
}

.cart-a:hover .user-icon {
  content: url("../icons/user-solid.svg");
  cursor: pointer;
}

/* __________ COMMON __________ */

.menu-header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid #b9babc 1px;
  height: fit-content;
  padding: 0 20px;
}

.menu-header:hover {
  cursor: pointer;
}

.menu-header span {
  margin: auto 0;
  transition: transform 0.3s ease;
}

.menu-header:hover span {
  transform: rotate(90deg) scale(1.1,1.1);
}

.menu-header h1 {
  color: #d10024;
  font-size: 23px;
  transition: transform 0.3s ease;
}

.menu-header:hover h1 {
  transform: scale(1.02,1.02);
}

.menu-header:hover span {
  transform: rotate(90deg) scale(1.1,1.1);
}

          /* TO UP */

.to-up {
  position: fixed;
  bottom: 45px;
  right: -40px;
  cursor: pointer;
  transition: .3s;
  z-index: 800;
}

.to-up svg {
  border: solid 1px #e7e7e77c;
  border-radius: 50%;
}

.to-up-show {
  right: 50px;
}

          /*BURGER MENU */

.burger-menu {
  position: fixed;
  top: 0;
  left: -150%;
  width: 300px;
  height: 100%;
  background: #ffffff;
  color: #fff;
  transition: left 0.3s ease;
  border-right: solid #d10024;
  box-shadow: 25px 5px 20px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.burger-menu-showed {
  left: 0;
}

.burger-nav {
  list-style-type: none;
  margin-top: 60px;
  padding: 0 20px;
  height: 80%;
  position: relative;
  box-sizing: border-box;
}

.burger-nav li {
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.burger-nav span.down-li {
  width: 210px;
  box-sizing: border-box;
}

.burger-nav .down-li {
  position: absolute;
  bottom: 0;
}

.burger-nav a:hover {
  background-color: #d10024;
  color: #fff;
}

.burger-nav li a:hover svg path {
  fill: #fff;
}

.burger-nav li a {
  text-decoration: none;
  color: #15161D;
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 8px;
}

.burger-nav li a span svg {
  width: 14px;
  height: 14px;
}

.catg-button {
  position: relative;
}

.burger-nav ul.catg {
  list-style: none;
  margin-top: 5px;
  padding: 0;
  display: none;
}

.burger-nav ul.catg li {
  margin-bottom: 10px;
}

.burger-nav ul.catg-showed {
  display: block;
}

span#cheveron {
  float: right;
  transition: transform 0.3s ease;
} 

span.cheveron-rotated {
  transform: rotate(90deg);
} 

.burger-nav ul.catg li {
  width: 100%;
  height: 100%;
}

.burger-nav ul.catg li a {
  width: 100%;
  height: 100%;
}

.burger-nav ul.catg p {
  width: 100%;
  height: 100%;
  margin: 0 0 0 30px;
}

          /* ACCOUNT */
          
.acc-menu {
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: -150%;
  width: 300px;
  height: 100%;
  background: #ffffff;
  color: #fff;
  transition: right 0.3s ease;
  border-left: solid #d10024;
  box-shadow: -25px 5px 20px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.acc-menu-showed {
  right: 0;
}

.login-message {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin-top: 80px;
}

.login-message p {
  margin: 0;
  font-size: 19px;
  color: #333;
}

.login-message a {
  color: #96001a;
  text-decoration: none;
}

.login-message a:hover {
  text-decoration: underline;
}


.acc-menu .content {
  padding: 15px 20px;
  background-color: #ffffff;
  border-radius: 10px;
  display: none;
}

.acc-menu .acc-name {
  color: #15161D;
  font-size: 25px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.acc-menu .acc-title {
  color: #1e1f29;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 12px;
  border-bottom: 1px solid #d10024;
  padding-bottom: 2px;
}

.acc-menu .acc-data .input-group label {
  color: #1e1f29;
  margin-bottom: 15px;
  margin-left: 5px;
  font-size: 13px;
}

.acc-menu .acc-data .input-group input[type="text"],
.acc-menu .acc-data .input-group input[type="email"],
.acc-menu .acc-data .input-group input[type="password"] {
  width: calc(100% - 22px);
  height: 22px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 13px;
}

.acc-menu .acc-data .acc-error {
  margin: 4px 0 8px 0;
}

.acc-menu .acc-data .save {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #d10024;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 13px;
  margin-top: 10px;
}

.acc-menu .acc-data .save:hover {
  background-color: #96001a; 
}

.additional-options {
  margin-top: 20px;
  display: flex;
}

.additional-options a {
  flex: 1;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-decoration: none;
  text-align: center;
  margin: 10px auto 25px auto;
}

.additional-options a#logoutButton {
  background-color: #d10024; 
  color: #ffffff;
  margin-right: 5px;
}

.additional-options a#logoutButton:hover {
  background-color: #96001a;
}

.additional-options a#administratorButton {
  background-color: #15161D;
  color: #ffffff;
  margin-left: 5px;
}

.additional-options a#administratorButton:hover {
  background-color: #1e1f29;
}

          /* CART */

.cart-menu {
  position: fixed;
  top: 0;
  right: -150%;
  width: 300px;
  height: 100%;
  background: #ffffff;
  color: #fff;
  transition: right 0.3s ease;
  border-left: solid #d10024;
  box-shadow: -25px 5px 20px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.cart-menu-showed {
  right: 0;
}
          
          /* DARK OVERLAY */

.dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  cursor: pointer;
  z-index: 999;
}

/* __________ FOOTER __________ */

footer {
  border-top: solid 3px #d10024;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .top-footer {
  background-color: #15161D;
  width: 100%;
  display: flex;
  min-width: 100%;
  padding: 15px 10px 10px 10px;
  flex-wrap: wrap;
  justify-content: center;
}

footer .top-footer > div {
  flex: 0 1 calc(30% - 10px);
  min-width: 250px;
  margin-bottom: 10px;
}

footer li {
  list-style-type: none;
}

footer a {
  text-decoration: none;
  color: #b9babc;
}

.about-us p {
  color: #b9babc;
}

footer .footer-categories .footer-links li{
  margin-bottom: 4px;
}

footer .about-us-content {
  margin: 0 0 0 15px;
}

footer li a {
  width: 100%;
  height: 100%;
}

.about-us .footer-links {
  padding-left: 0;
  cursor: default;
}

.top-footer .about-us, .top-footer .footer-categories, .top-footer .footer-nav {
  width: 30%;
  padding: 0px 10px 5px 10px;
}

li.copyright {
  color: #b9babc;
  font-weight: lighter;
}

.footer-nav li.copyright {
  margin-top: 55px;
}

.footer-nav ul {
  padding: 0;
}

footer h5 {
  color: #fff;
  margin: 15px 0 0 0;
  font-size: 15px;
}

.footer-nav a, footer .top-footer a:hover {
  color: #fff;
}

footer h5 .active {
  color: #d10024;
}

.footer-categories ul {
  padding: 0;
  margin-left: 15px;
}

footer .footer-email {
  width: 100px;
}

@media screen and (max-width: 815px) {
  .footer-nav li.copyright {
    display: none;
  }
  .about-us-content li.copyright::before {
    content: "© 2024 TheTechSpace. All Rights Reserved.";
  }
  .about-us-content li.copyright {  
    margin-top: 10px;
  }
}

@media screen and (max-width: 685px) {
  #top-header ul.header-links2 {
    width: fit-content;
    margin-top: 12px;
  }
  #top-header ul.header-links1 {
    width: 205px;
    margin-left: 0;
  }
  .a-categories {
    margin-left: 0;
  }
  a.products {
    margin-right: 0;
  }
}

@media screen and (max-width: 888px) {
  #top-header {
    display: none;
  }
  nav ul li a:not(.cart-a){
    margin-right: 15px;
  }
  #header nav ul {
    margin-right: 22px;
    padding-left: 20px;
  }
  li.cart-li {
    margin-left: 20px;
  }
}

@media screen and (max-width: 670px) {
  #header {
    padding-left: 0;
  }
  #header nav {
    width: 37%;
  }
  #header nav ul {
    display: flex;
    width: 100%;
    margin-right: 10px;
    padding-left: 10px;
  }
  nav ul span.to-hide {
    display: none;
  }
  nav ul span.to-keep {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 100%;
    margin-right: 15px;
  }
  #header span.burger-icon {
    display: flex;
  }
  nav ul li a:not(.cart-a){
    margin-right: 25px;
  }
  li.cart-li {
    margin-left: 0;
  }
  li.cart-li:last-of-type {
    margin-left: 30px;
  }
  .cart-icon {
    height: 30px;
    margin-bottom: 4px;
  }
  .user-icon {
    height: 25px;
    margin-bottom: 8px;
  }
  #header a.logo {
    text-align: center;
    width: 25%;
  }
  div.details p {
    margin-top: 0;
  }
  section.why-us {
    margin-bottom: 30px;
  }
}
