.preview {
    width: 100%;
    padding: 55px 0;
    padding-bottom: 30px;
}

.preview-container {
    width: 75%;
    margin: auto;
}

.in-container {
    display: flex;
}

.product-images {
    flex: 0 0 50%;
    align-items: center;
    height: fit-content;
}

.main-image img {
    width: 80%;
    height: auto;
    transition: transform .4s ease;
}

.main-image img:hover {
    transform: scale(1.06);
} 

.thumbnail-images {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 80%;
    margin-top: 10px;
    transition: .3s ease;
}

.thumbnail-images img {
    width: 60px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease;
    border: 1px solid #d1002372;
}

.thumbnail-images img:hover {
    opacity: 1;
}

.product-details {
    flex: 1;
    padding: 40px;
}

.product-name {
    margin-top: 0;
    color: #333;
}

.product-category span {
    color: #666;
}

.product-price {
    margin: 30px 0;
    font-size: 1.5em;
    display: flex;
    color: #d10024;
}

.product-price h3 {
    margin: 0;
    margin-left: 20px;
    font-size: 22px;
}

.product-available {
    display: block;
    font-size: 16px;
    margin: auto 20px auto auto;
}

.description {
    text-align: justify;
    color: #444;
    margin: 30px 0;
}

.add-to-cart-container {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.add-to-cart-container input[type="number"] {
    width: 60px;
    padding: 9px 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
}

.add-to-cart-container button {
    text-transform: uppercase;
    display: block;
    padding: 11px 32px;
    background-color: #d10024;
    color: white;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: auto;
    margin-right: 10px;
    box-sizing: border-box;
    border: transparent solid 1px;
    min-width: 160px;
    min-height: 40px;
}

.add-to-cart-container button:hover {
    background-color: white;
    color: #d10024;
    border-color: #d10024;
}

.quantity-error {
    color: red;
    font-size: 12px;
    margin: 0;
}

.long-description {
    position: relative;
    height: fit-content;
}

.tab-nav {
    position: relative;
    text-align: center;
    padding: 15px 0px;
    margin-bottom: 10px;
    width: 100%;
    max-height: fit-content;
}

.tab-nav li {
    list-style-type: none;
    margin-top: 30px;
    color: #333;
    text-align: left;
}

.tab-nav .title {
    text-align: center;
    display: inline-block;
    font-weight: bold;
    position: relative;
    width: 100%;
    padding-bottom: 2px;
    margin-top: 20px;
    color: #333;
    border-bottom: #ccc solid 1px;
}

section.related-products {
    width: 100%;
    margin-bottom: 30px;
}

.related-container {
    width: 85%;
    margin: auto;
}

.related-listing {
    width: 100%;
    display: flex;
}

.section-title {
    color: #15161D;
    text-align: center;
    margin-bottom: 25px;
    font-size: 30px;
}

.product-card {
    width: 24%;
    padding: 20px;
    margin: 20px 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card .preview-link {
    text-decoration: none;
    color: inherit;
}

.product-card h3 {
    height: 50px;
    margin: 10px auto 0 auto;
    overflow: hidden;
    font-size: 18px;
    text-overflow: ellipsis;
}

.product-card .image {
    width: 70%;
    margin: auto;
    margin-bottom: 10px;
}

.product-card img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.product-card .image:hover img {
    transform: scale(1.02);
}

.product-card .price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card .price span {
    font-weight: bold;
}

.price button.price-button {
    height: 40px;
    width: 80%;
    min-width: 130px;
    margin-top: 10px;
    border: none;
    border-radius: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #ffffff;
    background-color: #d10024;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
}

.price button.price-button:hover {
    background-color: #ffffff;
    color: #d10024;
    border: 1px solid #d10024;
}

@media screen and (max-width: 1240px) {
    .product-card h3 {
        font-size: 15px;
    }
    .product-card .price {
        font-size: 14px;
    }
    .price button.price-button {
        font-size: 12px;
    }
}

@media screen and (max-width: 1080px) {
    .product-card {
        margin: 15px 10px;
        padding: 15px;
    }
    .price button.price-button {
        font-size: 11px;
    }
}

@media screen and (max-width: 950px) {
    .product-card h3 {
        height: 60px;
    }
    .price button.price-button {
        font-size: 10px;
    }
}

@media screen and (max-width: 855px) {
    
}
