body {
    font-family: Tahoma, sans-serif;
    background-color:  #f5f8fb;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: 0.3s;
}

.container {
    max-width: 400px;
    width: 100%;
    transition: 0.3s;
}

.hedr1, .hedr2 {
    background-color: #d10024;
    color: #fff;
    padding: 10px;
    border: solid 1px #eaedf2b2;
    border-bottom: 0;
    box-sizing: border-box;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    transition: 0.3s;
}

.hedr1 img {
    width: 36%;
    height: auto;
}

.hedr1 {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    transition: 0.3s;
}

.hedr2 h1 {
    font-size: 32px;
}

form {
    border: solid 1px #eaedf2;
    background-color: #fff;
    padding: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

form h2 {
    margin: 10px 0 30px 0;
    font-size: 28px;
}

#user, #password {
    width: 90%;
    height: 42px;
    padding: 8px;
    margin-bottom: 14px;
    box-sizing: border-box;
    border-radius: 7px;
    font-size: 14px;
    border: solid 1.5px;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

input[type="submit"] {
    background-color: #d10024;
    border: #d10024 1px solid;
    color: #fff;
    cursor: pointer;
    margin-top: 12px;
    font-weight: bold;
    margin-bottom: 6px;
    transition: ease .3s;
    width: 65%;
    height: 42px;
    padding: 8.5px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="submit"]:hover {
    background-color: #f5153a;
    cursor: pointer;
}

@media screen and (max-height) {
    
}
